@font-face {
    font-family: 'Brandon Grotesque';
    src: url('./assets/fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
         url('./assets/fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('./assets/fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
         url('./assets/fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('./assets/fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
         url('./assets/fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('./assets/fonts/BrandonGrotesque-Black.woff2') format('woff2'),
         url('./assets/fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Chronicle Display';
    src: url('./assets/fonts/ChronicleDisplay-Bold.woff2') format('woff2'),
         url('./assets/fonts/ChronicleDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Chronicle Display';
    src: url('./assets/fonts/ChronicleDisplay-Black.woff2') format('woff2'),
         url('./assets/fonts/ChronicleDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }